.App {
  text-align: center;
}

.h1 {
  text-align: center;
  margin-top: 10vh;
  font-size: 10vw;
  font-family: "Noto Sans Mono";
}

.icons_container {
  text-align: center;
  align-items: center;
  margin-top: 10vh;
  position: relative;
}

.icon {
  height: 15vh;
  margin: 5vh;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.icon_link {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  font-family: "Noto Sans Mono";
}