.App {
  text-align: center;
}

.h1 {
  text-align: center;
  margin-top: 10vh;
  font-size: 10vw;
  font-family: "Noto Sans Mono";
}

.icons_container {
  text-align: center;
  align-items: center;
  margin-top: 10vh;
  position: relative;
}

.icon {
  height: 15vh;
  margin: 5vh;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}

.icon_link {
  text-decoration: none;
}

.footer {
  font-size: 0.75rem;
  font-family: "Noto Sans Mono";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  height: 7vh;
}