.App {
  text-align: center;
}

.h1 {
  text-align: center;
  margin-top: 2in;
  font-size: 10vw;
  font-family: 'Noto Sans Mono';
}

.icons_container {
  text-align: center;
  margin-top: 10vh;
  transform: translateY(-50%);
}

.icon {
  width: 20vw;
  max-width: 2in;
  min-width: 1in;
}